<header class="bar bar-nav">
  <h1 class="title">Change Password</h1>
</header>
<div class="content">
  <form class="content-padded">
    {{form-errors errors=errors}}
    {{input type="email" placeholder="Enter email" value=currentUser.auth.password.email readonly=true}}
    {{input type="password" placeholder="Old Password" value=model.oldPassword}}
    {{input type="password" placeholder="New Password" value=model.newPassword}}
    <button type="submit" class="btn btn-positive btn-block" {{action "change"}}>Change</button>
  </form>
</div>